<div class="ac-button">
    <div class="icon-container">
        <i class="fa fa-wheelchair" aria-hidden="true"></i>
    </div>
</div>
<div id="ac_component" class="ac-container">
    <div class="col-md-4 col-sm-12 col-xs-12 increase-text">
        <span>הגדל טקסט</span>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 decrease-text">
        <span>הקטן טקסט</span>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 ac-high-contrast"><span>ניגודיות גבוהה</span></div>
    <div class="col-md-4 col-sm-6 col-xs-12 ac-low-contrast"><span>ניגודיות עדינה</span></div>
    <div class="col-md-4 col-sm-6 col-xs-12 ac-normal-contrast"><span>ניגודיות רגילה</span></div>
    <div class="col-md-4 col-sm-6 col-xs-12 ac-keyboard-navigation"><span>ניווט על ידי מקלדת</span></div>
    <div class="col-md-4 col-sm-6 col-xs-12 ac-tooltip-layer"><span>שכבת עזר</span></div>
    <div class="col-md-4 col-sm-6 col-xs-12 ac-no-transition"><span>חסום הבהובים</span></div>
</div>
<div id="help_popup_accessibility"></div>
